.textinput {
    position: sticky;
    bottom: 1em;
    margin: .5em 0px 0px 0px;
}

.form-group {
    margin: 0;
}

.messageview {
    overflow-y: auto;
    height: 90vh;
}

.table {
    width: auto;
}